<%= form_for(@product_auction) do |f| %>
  <% if @product_auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_auction.errors.count, "error") %> prohibited this product_auction from being saved:</h2>

      <ul>
      <% @product_auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :m_food_id %><br>
    <%= f.collection_select :m_food_id, M::Food.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
