<% if user_signed_in? %>
  <div class="page-header"><h1>LET'S ORDER EVERYTHING!</h1></div>
<div class="order">
<% @m_foods.each do |m_food| %>
<% if current_user.is_admin? || m_food.visibility? %>
  <div class = "food<%= m_food.id %>">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= m_food.name %></h3>
        </div>
        <div class="panel-body">
          <%= select_tag "#{m_food.id}", options_from_collection_for_select(m_food.m_food_options, "id", "name") ,class: "food_option", style: "margin: 0px" %>
          <%= select_tag "#{m_food.id}", options_for_select(1..10), class: "quantity", style: "margin: 0px" %>
          <%= link_to "Order", "#", id: "#{m_food.id}", method: :post, confirm: "Are you sure?", class: "order btn btn-success" %>
<% if current_user.is_admin? %>
	<% if m_food.visibility? %>
          <%= link_to "Disable", mypage_path(visible: "disable", food_id: m_food.id), class: "btn btn-success" %>
    <% else %>
          <%= link_to "Enable", mypage_path(visible: "enable", food_id: m_food.id), class: "btn btn-success" %>
    <% end %>
<% end %>
        </div>
    </div>
  <br/>
<table class="table table-bordered table-striped">
  <tr>
    <td>
<% if m_food.url %>
  <%= image_tag m_food.url, width: "250px", style: "border: 2px black solid" %><br/>
<% end %>
  Price: <span class="label label-success"><%= m_food.price %>VND</span><br/><br/>
    </td>
    <td>
<% if current_user.is_admin? %>
  Current orders:<br/>
<% m_food.m_food_options.each do |opt| %>
<%= "#{opt.name}(#{Order.where(state: 'init').where(m_food_option_id: opt.id).sum(&:quantity)})" %><br/>
<% end %>
<% end %>
    </td>
  </tr>
</table>
</div>
<% end %>
<% end %>
<hr>
TOTAL COST: <%= @orders.map{ |o| (o.m_food.price * o.quantity.to_i)}.inject{|sum, i| sum + i} %> VND<br/>
<table class="table table-bordered table-striped">
	<tr>
	  <th>Customer Name</th>
	  <th>Food Name</th>
	  <th>Type</th>
	  <th>Price</th>
	  <th>Quantity</th>
	  <th>Action</th>
	  <th>Order at</th>
	</tr>
<% @orders.each do |order| %>
    <tr>
      <td><%= order.user.name %></td>
      <td><%= order.m_food.name %></td>
      <td><%= order.m_food_option.name %></td>
      <td><%= order.m_food.price %></td>
      <td><%= order.quantity %></td>
      <td>
        <% if current_user.is_admin? %>
          <%= link_to "Paid", framgiaers_path(apply: "deliver_one", order_id: order.id), class: "btn btn-success" %>
        <% end %>
      	<% if current_user.is_admin? || (current_user.orders.include? order) %>
	      	<%= link_to order_path(order), method: :delete, confirm: "Are you sure?" do %>
	  			<i class="icon-trash"></i>
	  		<% end %>
  		<% end %>
      </td> 
      <td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
<% end -%>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td>Total</td>
	  <td><%= @orders.map{ |o| (o.m_food.price * o.quantity.to_i)}.inject{|sum, i| sum + i} %>VND</td>
	</tr>
  </table>
</div>
<% else %>
Not signed in. <%= link_to "Sign in with Facebook here", root_path %>
<% end %>

<script>
  $(function(){
    $("a.order").each(function(){
      $(this).attr("href","/orders?m_food_id=" + $(this).attr("id") + "&m_food_option_id=" + $(this).siblings(".food_option").children("option:selected").val() + "&quantity=" + $(this).siblings(".quantity").children("option:selected").val());
    })
    $("select").change(function(){
      $("a.order").each(function(){
        $(this).attr("href","/orders?m_food_id=" + $(this).attr("id") + "&m_food_option_id=" + $(this).siblings(".food_option").children("option:selected").val() + "&quantity=" + $(this).siblings(".quantity").children("option:selected").val());
      })
    })
  });
</script>

