<div id="__current_game" data-game="MG-index"></div>
<img src="/assets/back1.jpg"></img>
<h1> Please DO NOT play during WORKING time!</h1>
<h1>Total completed games: <%= Matrixgame.total_completed_game %></h1>
<h4><%= "Your win rate: #{current_user.user_static}% (#{current_user.count_win_game} wins/#{current_user.count_game} games)" %></h4>
<div class="onegame" id="show_ranking">SHOW/HIDE RANKING</div>
<div id="ranking" style="display: none;">
<h3>TOP WIN(Just for users who played more than 20 games)</h3>
<% @best_rate_users.each_with_index do |user,i| %>
<div class="onegame">
<div class="gamename">Number #<%= i+1 %></div>
<%= "#{user.name} - #{user.user_static}% (#{user.count_win_game} wins/#{user.count_game} games)" %>
</div>
<% end %>
<h3>TOP RATE IN GAME</h3>
<% @best_rate_games.each_with_index do |game,i| %>
<div class="onegame">
<div class="gamename">Number #<%= i+1 %></div>
<%= "#{User.find(game.winner_id).name} - RATE: #{game.rate}" %>
<% if game.is_recorded? %>
<%= link_to image_tag("/assets/info.png",width:25), show_matrixgame_path(game.id) %>
<% end %>
</div>
<% end %>
<h3>TOP SCORE IN GAME</h3>
<% @best_score_games.each_with_index do |game,i| %>
<div class="onegame">
<div class="gamename">Number #<%= i+1 %></div>
<%= "#{User.find(game.winner_id).name} - SCORE: #{game.better_point}" %>
<% if game.is_recorded? %>
<%= link_to image_tag("/assets/info.png",width:25), show_matrixgame_path(game.id) %>
<% end %>
</div>
<% end %>
</div>
<hr>
<%= form_tag("/matrixgames", id: :newgame, method: :post) do -%>
<% end %>
<div class = "onegame" id="addgame">+ add and join your game</div>
<div id = "listgame">
<% @matrixgames.each do |game| %>
<div class="onegame"  id="<%= game.id %>">
  <div class="gamename">GAME ID: <%= game.id %></div>
  <div class="p1">
<% if game.user1_id %>
<%= User.find(game.user1_id).name %>
<% else %>
<%= link_to "JOIN GAME", matrixgame_path(game) %>
<% end %>
  </div>
<div class="score1"><% if game.user1_score %><%= game.user1_score %><% end %></div>
<div class="gamedone">
<% if game.done %>
<% if game.is_recorded? %>
<%= link_to image_tag("/assets/info.png",width:25), show_matrixgame_path(game.id) %>
<% else %>
終
<% end %>
<% end %>
</div>
  <div class="p2">
<% if game.user2_id %>
<%= User.find(game.user2_id).name %>
<% else %>
<%= link_to "JOIN GAME", matrixgame_path(game) %>
<% end %>
  </div>
<div class="score2"><% if game.user2_score %><%= game.user2_score %><% end %></div>
</div>
<% end %>
</div>
<% if params[:show_all] %>
<%= link_to matrixgames_path() do %>
<div class="onegame">BACK</div>
<% end %>
<% else %>
<%= link_to matrixgames_path(show_all: true) do %>
<div class="onegame">SHOW ALL GAMES</div>
<% end %>
<% end %>
<style>
.onegame{
  width: 940px;
  height: 44px;
  background-color: green;
  border-top: white solid 2px;
  line-height: 44px;
  color: white;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
.gamename{
  text-align: left;
  float: left;
  background-color: blue;
  padding-left: 10px;
  width: 222px;
}
.p1{
  color: white;
  line-height: 44px;
  padding-left: 20px;
  font-size: 22px;
  float: left;
  width: 222px;
}

.p2{
  color: white;
  line-height: 44px;
  padding-right: 20px;
  font-size: 22px;
  float: right;
  width: 222px;
}

.score1{
  float: left;
  background-color: red;
  margin-left: 10px;
  width: 77px;
}

.score2{
  float: right;
  background-color: red;
  margin-right: 10px;
  width: 77px;
}

.gamedone{
  float: left;
  padding-left: 10px;
}
</style>
<script>
$("#show_ranking").click(function(){
  $("#ranking").toggle("fast");
});
$(".onegame").hover(
  function(){
    $(this).fadeTo("fast",0.8);
  },
  function(){
    $(this).fadeTo("fast",1);
  }
);
$("#addgame").click(function() {
  $("#newgame").submit();
});
function add_game(game_id,user1name){
  $("#listgame").prepend("<div class='onegame' id='"+game_id+"'><div class='gamename'>GAME ID: "+game_id+"</div><div class='p1'>"+user1name+"</div><div class='score1'></div><div class='gamedone'></div><div class='p2'><a href='/matrixgames/"+game_id+"''>JOIN GAME</a></div><div class='score2'></div></div>");
  $("#"+game_id).hide().show(1000);
  $("#"+game_id).hover(
    function(){
      $(this).fadeTo("fast",0.8);
    },
    function(){
      $(this).fadeTo("fast",1);
    }
  );
}
new Chat.Controller("<%= SOCKET_URL %>/websocket", true);
</script>
