<div id="__current_game" data-game="MG-index"></div>
<img src="/assets/back1.jpg"></img>
<h1> Please DO NOT play during WORKING time!</h1>
<h3>Total completed games: <%= Matrixgame.total_completed_game %></h3>
<hr>
<h3>Best point in game: <%= Matrixgame.best_score.better_point %></h3>
<% g1=Matrixgame.best_score %>
<div class="onegame">
  <div class="gamename">GAME ID: <%= g1.id %></div>
  <div class="p1">
<%= User.find(g1.user1_id).name %>
  </div>
<div class="score1"><%= g1.user1_score %></div>
<div class="gamedone">
<% if g1.is_recorded? %>
<%= link_to image_tag("/assets/info.png",width:25), show_matrixgame_path(g1.id) %>
<% else %>
終
<% end %>
</div>
  <div class="p2">
<%= User.find(g1.user2_id).name %>
  </div>
<div class="score2"><%= g1.user2_score %></div>
</div>
<h3>Best rate in game: <%= Matrixgame.best_rate.rate %></h3>
<% g2=Matrixgame.best_rate %>
<div class="onegame">
  <div class="gamename">GAME ID: <%= g2.id %></div>
  <div class="p1">
<%= User.find(g2.user1_id).name %>
  </div>
<div class="score1"><%= g2.user1_score %></div>
<div class="gamedone">
<% if g2.is_recorded? %>
<%= link_to image_tag("/assets/info.png",width:25), show_matrixgame_path(g2.id) %>
<% else %>
終
<% end %>
</div>
  <div class="p2">
<%= User.find(g2.user2_id).name %>
  </div>
<div class="score2"><%= g2.user2_score %></div>
</div>
<%= form_tag("/matrixgames", id: :newgame, method: :post) do -%>
<% end %>
<div class = "onegame" id="addgame">+ add and join your game</div>
<div id = "listgame">
<% @matrixgames.each do |game| %>
<div class="onegame"  id="<%= game.id %>">
  <div class="gamename">GAME ID: <%= game.id %></div>
  <div class="p1">
<% if game.user1_id %>
<%= User.find(game.user1_id).name %>
<% else %>
<%= link_to "JOIN GAME", matrixgame_path(game) %>
<% end %>
  </div>
<div class="score1"><% if game.user1_score %><%= game.user1_score %><% end %></div>
<div class="gamedone">
<% if game.done %>
<% if game.is_recorded? %>
<%= link_to image_tag("/assets/info.png",width:25), show_matrixgame_path(game.id) %>
<% else %>
終
<% end %>
<% end %>
</div>
  <div class="p2">
<% if game.user2_id %>
<%= User.find(game.user2_id).name %>
<% else %>
<%= link_to "JOIN GAME", matrixgame_path(game) %>
<% end %>
  </div>
<div class="score2"><% if game.user2_score %><%= game.user2_score %><% end %></div>
</div>
<% end %>
</div>
<style>
.onegame{
  width: 940px;
  height: 44px;
  background-color: green;
  border-top: white solid 2px;
  line-height: 44px;
  color: white;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
.gamename{
  text-align: left;
  float: left;
  background-color: blue;
  padding-left: 10px;
  width: 222px;
}
.p1{
  color: white;
  line-height: 44px;
  padding-left: 20px;
  font-size: 22px;
  float: left;
  width: 222px;
}

.p2{
  color: white;
  line-height: 44px;
  padding-right: 20px;
  font-size: 22px;
  float: right;
  width: 222px;
}

.score1{
  float: left;
  background-color: red;
  margin-left: 10px;
  width: 77px;
}

.score2{
  float: right;
  background-color: red;
  margin-right: 10px;
  width: 77px;
}

.gamedone{
  float: left;
  padding-left: 10px;
}
</style>
<script>
$(".onegame").hover(
  function(){
    $(this).fadeTo("fast",0.8);
  },
  function(){
    $(this).fadeTo("fast",1);
  }
);
$("#addgame").click(function() {
  $("#newgame").submit();
});
function add_game(game_id,user1name){
  $("#listgame").prepend("<div class='onegame' id='"+game_id+"'><div class='gamename'>GAME ID: "+game_id+"</div><div class='p1'>"+user1name+"</div><div class='score1'></div><div class='gamedone'></div><div class='p2'><a href='/matrixgames/"+game_id+"''>JOIN GAME</a></div><div class='score2'></div></div>");
  $("#"+game_id).hide().show(1000);
  $("#"+game_id).hover(
    function(){
      $(this).fadeTo("fast",0.8);
    },
    function(){
      $(this).fadeTo("fast",1);
    }
  );
}
new Chat.Controller("<%= SOCKET_URL %>/websocket", true);
</script>
