<%= form_for @reverse_auction, remote: true do |f| %>
  <% if @reverse_auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reverse_auction.errors.count, "error") %> prohibited this reverse_auction from being saved:</h2>
      <ul>
      <% @reverse_auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="number_of_auction">
  </div>

  <div class="product">
    <%= f.hidden_field :m_food_id, value: @auction_product.id %>
    <%= image_tag @auction_product.url %>
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit "Order" %>
  </div>
<% end %>
