<!DOCTYPE html>
<html>
<head>
  <title>FramgiaOs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	      <%= link_to "Framgia Order System", root_path, id: "logo" %>
	      <nav>
	        <ul class="nav pull-right">
	          <% if user_signed_in? %>
	            <li id="fat-menu" class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                Account <b class="caret"></b>
	              </a>
	              <ul class="dropdown-menu">
	              	<li>
	               	  <%= link_to mypage_path do %>
	               	  	<%= image_tag current_user.avatar %><br />
	               	  	<%= current_user.name %>
	               	  <% end %>
	                </li>
	                <li>
	                	<%= link_to orders_path do %>
	                	 Balance: <%= current_user.amount %>VND
	                	<% end %>
	                </li>
<% if current_user.is_admin? %>
                  <li>
                    <%= link_to "Orders page", framgiaers_path(show: "show_orders") %>
                  </li>
                  <li>
                    <%= link_to "Framgiaers page", framgiaers_path %>
                  </li>
<% end %>
	                <li class="divider"></li>
	                <li>
	               	  <%= link_to "Sign out", root_path(target: "sign_out")%>
	                </li>
	              </ul>
	            </li>
	          <% else %>
	            <li><%= link_to "Sign in with Facebook here", root_path %></li>
	          <% end %>
	        </ul>
	      </nav>
	    </div>
	  </div>
	</header>
    <div class="container">
      <%= yield %>
      <footer class="footer">
		  <small>
		    <a href="http://framgia.com/vn">Framgia Co, Ltd</a>
		    by Linh & Trong
		  </small>
		  <nav>
		    <ul>
		      <li><%= link_to "About",   "http://framgia.com/vn" %></li>
		    </ul>
		  </nav>
		</footer>
    </div>
  </body>
</html>
